:root{
    --verde: darkgreen;
    --verdeClaro: rgb(131, 219, 131);
    --degradado:linear-gradient(90deg,var(var(--verdeClaro)),var(var(--verde)))
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

*::selection{
    background: var(--verdeClaro);
    color: white;
}

html{
    font-size: 62.4%;
}

body{
    background-color: rgb(226, 252, 187);
}

.submit{
    background-color: darkgreen;
    padding: 15px;
    border: 0;
    color:#fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 25px;
    margin: 0 0 0 2rem;
}

h1 {
    color: darkgreen;
    margin-bottom: 15px;
    font-size: 125%;
}

div {
    font-size: 16px;
}

.primero div {
    margin-top: 7rem;
}

.formulario {
    background-color: white;
    border: 1px solid darkgreen;
    border-radius: 5px;
    padding: 10px;
    /* display: flex; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: darkgreen;
    box-shadow: 0 .5rem 1rem rgb(132, 161, 132);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 25px;
    color: #fff;
}

header span{
    color: var(--verdeClaro);
}

header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color: #fff;
}

header .navbar a:hover{
    color: var(--verdeClaro);
}
header input{
    display: none;

}

header label{
    font-size: 8rem;
    color: var(--verde);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.largeinput{
    width: 100%;
    padding: 5px;
}

.ultimo {
    display: flex;
    justify-content: end;
    margin: 4rem auto;
}