:root{
    --verde: darkgreen;
    --verdeClaro: rgb(131, 219, 131);
    --degradado:linear-gradient(90deg,var(var(--verdeClaro)),var(var(--verde)))
}

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

*::selection{
    background: var(--verdeClaro);
    color: white;
}

html{
    font-size: 62.4%;
}

body{
    background: hsla(126, 90%, 64%, 1);
    background: linear-gradient(90deg, rgb(81, 246, 97) 0%, hsla(0, 0%, 100%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(126, 90%, 64%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(126, 90%, 64%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#51f662", endColorstr="#ffffff", GradientType=1 );

}

section{
    font-size: 25px;
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: darkgreen;
    box-shadow: 0 .5rem 1rem rgb(132, 161, 132);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 25px;
    color: #fff;
}

header span{
    color: var(--verdeClaro);
}

header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color: #fff;
}

header .navbar a:hover{
    color: var(--verdeClaro);
}
header input{
    display: none;

}

image1.img{
    width: 20vw;
}



@media(max-width:1200px){
    html{
        font-size: 55%;
    }

    image1.img{
        width: 55%;
    }
}

@media(max-width:768px){
    html{
        font-size: 50%;
    }
    image1.img{
        width:50%;
    }
}

@media(max-width:450px){
    html{
        font-size: 49%;
    }
    image1.img{
        width:40%;
    }
}
